<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where We Going</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbarStyle.css">
    <link rel="stylesheet" href="/css/eventSearch.css">
</head>

<body>
    <header>
        <div class="header-container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item image is-1440x480" id="header-title" href="/">
                        <img src="../images/Where-we-going-7-8-2023.png" alt="Where We Going Logo">
                    </a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="navMenu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-end">
                        {{#if logged_in}}
                        <a class="navbar-item" id="navbar-links" href="/dashboard">Dashboard</a>
                        <a class="navbar-item" id="navbar-links" href="/logout">Logout</a>
                        <a class="navbar-item" id="navbar-links" href="/dashboard">Dashboard</a>
                        {{else}}
                        <a class="navbar-item" id="navbar-links" href="/login">Login</a>
                        <a class="navbar-item" id="navbar-links" href="/signup">Sign Up</a>
                        <a class="navbar-item" id="navbar-links" href="/dashboard">Dashboard</a>
                        {{/if}}
                    </div>
                </div>
            </nav>
            <img class="header-background-image" src="../images/baseball_stadium.png" alt="Background Image">
        </div>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <!-- Footer content goes here -->
    </footer>
    <script src="/js/eventList.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/newEvent.js"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>