  <section class="section" id="newEventBG">
    <div class="contatiner is-max-desktop">  
      <div class="has-text-centered">
        <div class="card-content">
          <div>
            <h1>Welcome to Where We Going!</h1>
            <p>Find local events and meet new people.</p>
            <a href="/eventSearch" class="button is-link is-outlined">Search for Events</a>
          </div>
        </div>
      </div>
      <div class="contatiner is-max-desktop">
      </div>
    </div>
  </section>  