<div class="is-ancestor">  
  <div class="is-parent">
    <div class="is-child container">
      <h1>Welcome to Where We Going!</h1>
      <p>Find local events and meet new people.</p>
      <a href="/eventSearch" class="button is-link is-outlined">Search for Events</a>
    </div>
  </div>
  <div class="is-parent level">
    <div class="is-child level-item">
     
    </div>
  </div>
</div>