<section class="section" id="newEventBG">
  <div class="container has-text-centered">
    <div class="card-content">
      <h2>Add a new event</h2>
      <form action="/api/events/new" method="POST">
        <div class="form-group">
          <label for="title">title:</label>
          <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" id="description" name="description" required>
        </div>
        <div class="form-group">
          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required>
        </div>
        <div class="form-group">
          <label for="time">Time:</label>
          <input type="time" id="time" name="time" required>
        </div>
        <div class="form-group">
          <label for="location">Location:</label>
          <input type="text" id="location" name="location" required>
        </div>
        <div class="form-group">
          <label for="attendees">Attendees:</label>
          <input type="number" id="attendees" name="attendees" required>
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input type="text" id="image" name="image" required>
        </div>
        <div class="form-group">
          <button type="submit">Add event</button>
        </div>
      </form>
    </div>
  </div>
</section>

