<div class="is-ancestor level">
  <div class="is-parent level-item">
    <div class="signup-container is-child">
      <h2>Sign Up</h2>
      <form action="/api/users" method="POST">
        <div class="form-group">
          <label for="name">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <button type="submit">Sign Up</button>
        </div>
      </form>
      {{#if errorMessage}}
        <p class="error-message">{{errorMessage}}</p>
      {{/if}}
    </div>
  </div>
</div>