body {
    /* background-image: url(../images/baseball_stadium.png); */
    /* background-repeat: no-repeat;  */
    /* background-position: right top;  */
    color: white;
    width: 100%;
    height: 100vh
}

#newEventBG {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to bottom, #000000, #3e3e3e, #7c7c7c, #b4b4b4);
    color: white;
    width: 100%;
    height: 100vh
}