body {
    /* background-image: url(../images/baseball_stadium.png); */
    /* background-repeat: no-repeat;  */
    /* background-position: right top;  */
    background: rgb(6,5,10);
    background: linear-gradient(90deg, rgba(6,5,10,1) 0%, rgba(121,58,9,1) 35%, rgba(255,145,0,1) 100%);
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0%;
}
.section{
    padding: 0%;
}

img {
    width: 200px;
    height: auto;
}

.columns{
    margin: 0%;
}
#newEventBG {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to bottom, #000000, #3e3e3e, #7c7c7c, #b4b4b4);
    justify-self: center;
    color: white;
    margin: 0%;
    width: 100vw;
    height: 100vh
}